
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
        <body>
            <h1><a href="">jhyyk's blog</a></h1><br><br>
            {% block content%}
            {% endblock%}
        </body>
        <p><a href="{% url 'abc' %}">home</a></p>
        <article style="font-size: 50px;">Hello World</article>
    </html>